<div class="post-header"></div>

<div class="search-wrap" >
    <div class="search-icon" ng-click="searchPost()">
    </div>
    <input class="j-search" ng-keyup="searchPost($event)" placeholder="Search Posts" type="search">
</div>

<svg height="80" width="80" class="add-post" ng-click="addNewPost()">
    <circle class="circle" cx="40" cy="40" r="30" stroke-width="3" fill="yellow"/>
    <text x="33" y="50" style="font-size: 25px; font-weight: bold;" fill="rgb(156,156,156)">
        +
    </text>
</svg>

<div class="post-div">
    <div class="day-wise" ng-repeat="postArray in postList">
        <div ng-repeat="items in postArray track by $index" class="">
            <div ng-if="$index == 0" class="day" ng-init="date = (items == aaj ? 'Today' : (items == kal? 'Yesterday': items))">
                {{date}}
            </div>
            <div ng-if="$index == 1">
                <div class="post-wise large-12" ng-repeat="_post in items track by $index" 
                ng-click="showComments(_post.date)">
                    <avatar class="avatar" userimage="{{_post.user.avatar}}"
                     username="{{_post.user.name}}" userfname="{{_post.user.fname}}"
                     userlname="{{_post.user.lname}}"></avatar>
                    <div class="col large-10 topics" ng-init="replies = _post.topic.replies">
                        <div class="topic trim col large-12" ng-bind-html="trustAsHtml(_post.topic.note)"></div>
                        <div class="col large-12">
                            <div class="reply">
                                {{replies.length}}
                                <img src="app/data/img/reply.svg" />
                            </div>
                        </div>
                        <div ng-repeat="reply in replies" ng-if="$index == 0">
                            <div class="name col"
                            ng-init="uName = (reply.user.name || reply.user.fname + ' ' + reply.user.lname)"
                            title="{{uName}}">{{uName}} &#45; </div>
                            <div class="desc trim col" ng-bind-html="trustAsHtml(reply.comments)"></div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="j-modal">
    <div class="modal-content">
        <avatar class="avatar j-avatar col large-2"ng-if="user.avatar" userimage="{{user.avatar}}"
            username="{{user.name}}" userfname="{{user.fname}}"
            userlname="{{user.lname}}"></avatar>
        <textarea class="j-post-text post-text" ng-model="postText" placeholder="What&#39;s new with you?"></textarea>
    </div>
    <div class="modal-footer">
        <div class="modal-action modal-close waves-effect waves-red btn-flat md-button" 
        ng-click="cancelPost()" >Cancel</div>
        <div class="modal-action modal-close waves-effect waves-green btn-flat modal-success-btn md-button"
        ng-click="savePost()">Post</div>
    </div>
</div>

<div class="modal comment-modal" id="j-comment-modal">
    <span class="cancel-btn" ng-click="closeCommentModal()">
        <img src="app/data/img/cancel.svg" />
    </span>
    <div class="modal-content" id="j-current-topics">
    </div>
</div>
