<header>
  <div class="center">
    <a href="/#/dashboard" id="j-home">
        HOME
    </a>
    <a href="/#/dashboard/todo" id="j-todo">
        TODO
    </a>
    <a href="/#/dashboard/post" id="j-post">
        POST
    </a>
  </div>
  <div class="login-link" >
    <div id="j-userName" class="username">User</div>
    <a href="/#/login" class="link logout" id="j-logout">
        Sign Out
    </a>
  </div>
</header>

<ui-view ng-class="{'ui-view' : true}"></ui-view>

<div class="modal-overlay" id="j-overlay"></div>